@charset "utf-8";


/* default font families and font colour styles on all pages */
/* Open Sans font source: https://fonts.google.com/specimen/Open+Sans */
/* Roboto Slab font source: https://fonts.google.com/specimen/Roboto+Slab */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Roboto Slab", "Open Sans", sans-serif;
    color: white;
}