@charset "utf-8";

/* About Me Introduction Styles */
.no-resize {
    min-width: 250px;
    min-height: 300px;
}


/* Hobby Styles uses custom @media rules for the hobby borders */
/* For even smaller devices */
@media only screen and (min-width: 0px) {
    #custom-hobby-one {
        background-color: #660000;
        border: 2px solid black;
    }

    #custom-hobby-two {
        background-color: #00331a;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    #custom-hobby-three {
        background-color: #003366;
        border: 2px solid black;
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    #custom-hobby-one {
        background-color: #660000;
        border: 2px solid black;
    }

    #custom-hobby-two {
        background-color: #00331a;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    #custom-hobby-three {
        background-color: #003366;
        border: 2px solid black;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #custom-hobby-one {
        background-color: #660000;
        border: 2px solid black;
    }

    #custom-hobby-two {
        background-color: #00331a;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    #custom-hobby-three {
        background-color: #003366;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #custom-hobby-one {
        background-color: #660000;
        border: 2px solid black;
    }

    #custom-hobby-two {
        background-color: #00331a;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    #custom-hobby-three {
        background-color: #003366;
        border: 2px solid black;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #custom-hobby-one {
        background-color: #660000;
        border: 2px solid black;
    }

    #custom-hobby-two {
        background-color: #00331a;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    #custom-hobby-three {
        background-color: #003366;
        border: 2px solid black;
    }
}


/* Tic Tac Toe Styles */
.cell {
    font-family: cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game-title {
    font-size: 100px;
    color: #d7a62f;
    margin: 10px auto;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #11213a;
    color: #04c0b2;
}

.game-status {
    font-size: 23px;
    color: #d7a62f;
    margin: 20px auto;
}

.game-restart {
    background-color: #f7e4ac;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #5586e2;
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86c23;
}
