@charset "utf-8";

/* Submit Button Styles */
.btn {
    background-color: #e5e5e5;
}

.btn:focus {
    background-color: #e5e5e5;
}

.btn:hover {
    transition: transform .2s;
    transform: scale(1.1);
    background-color: #e5e5e5;
}


/* Validation Styles */
input:focus, select:focus, textarea:focus {
    background-color: rgb(220, 255, 220);
}

input:focus:invalid {
    background: rgb(255, 232, 233);
}