@charset "utf-8";

/* Digital Clock Styles */
#clock{
    font-family: "Digital-7", sans-serif;
    font-size:70px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}

#clock span {
    color: rgba(255, 255, 255, 0.8);
    text-shadow:0px 0px 1px #333;
    font-size:50px;
    position:relative;
    top:-5px;
    left:10px;
}
#date {
    letter-spacing:3px;
    font-size:25px;
    font-family:arial,sans-serif;
    color:#fff;
}


/* Index Styles */
.sp-text {
    color: red;
}

div#about-background {
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(../images/daftpunk-background.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

div#career-background {
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ) ,url(../images/coding-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

div#experience-background {
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(../images/sp-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

div#feedback-background {
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(../images/feedback-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

.btn-danger {
    border: 0.5px solid black;
}

.btn-danger:hover {
    border: 0.5px solid black;
    transition: transform .2s;
    transform: scale(1.2);
}
